<html>
{%extends 'DefaultTemplate.html'%}
{% block content %}  
 


<div style="height:50px"></div>
<link rel="shortcut icon" type="image/x-icon" href='/static/penfist.jpg'>
<link rel="shortcut icon" type="image/x-icon" href='/static/headless_screenshot.png'> 
<img src="head.png">
<img src="/GMDelight/GMDelight/head.png">
 <img src="headless_screenshot.png">
<img src="/GMDelight/GMDelight/headless_screenshot.png">
<form  method=POST enctype="multipart/form-data" action="/BidOPUpload">
<input type="file" name="sheet" id="sheet" size="60" width="170">
<input type="submit" name="submit" >  
<div style="width:100%; text-align:center;">The Following Columns Must be Included In Bid Ops</div> 
</form> 
<div>
<!---The Following Columns Must be Included In Bid Ops--->  

</div> 
 

{% endblock %}
</html>
